<html>
 <head>
   <title></title>
   <link href="./style.css" rel="stylesheet">
 </head> 
 <body bgcolor="gray">
   <div id="container">
     <div id="header"></div>
     <div id="menu">
       <div id="menuLeft">
         <img src="logo.jpg"
          style="height:100%;width:60%;margin-left:20%">
       </div>
       <div id="menuRight">
         <ul>
           <li><a href="#">Home</a></li>
           <li><a href="#">About</a></li>
           <li><a href="#">Contact</a></li>
           <li><a href="#">Login</a></li>
         </ul>
       </div>
     </div>
     <div id="content">
       <div id="contentUp">
         <div id="contentUpLeft">
          <img src="Images/logo.jpg"
           style="height:80%;width:80%;margin-left:10%;margin-top:2%;">
         </div>
         <div id="contentUpRight">
          <center>
          <div style="margin-top:8%;">
           <input type="text" placeholder="Enter Search">
           <button>submit</button>
          </div>
          </center>
         </div>
       </div>
       <div id="contentDown">
          <div id="contentDownLeft">
            <div> <h3>Categories</h3> </div>
            <div>
              <ul>
                <li><a href="#">Students Info</a><li>
                <li><a href="#">Students Info</a><li>
                <li><a href="#">Students Info</a><li>
                <li><a href="#">Students Info</a><li>
                <li><a href="#">Students Info</a><li>
                <li><a href="#">Students Info</a><li>
                <li><a href="#">Students Info</a><li>
                <li><a href="#">Students Info</a><li>
              </ul>
            </div>
            <div style="margin-top:10%;text-align:center;font-size:15px;color:blue;font-weight:bold">
             <p>Hello Students..Hello Students..Hello Students..Hello Students..Hello Students..Hello Students..Hello Students..Hello Students..Hello Students..Hello Students..Hello Students..Hello Students..Hello Students..Hello Students..Hello Students..Hello Students..Hello Students..Hello Students..Hello Students..Hello Students..Hello Students..Hello Students..Hello Students..</p>
            </div>
          </div>
          <div id="contentDownRight">
          
          </div>
       </div>
     </div>
     <div id="footer"></div>
   </div>
 </body>
</html>
